body {
	font-family: Algerian;
	overflow-x: hidden;
}
html, body {
  height: 100%;
  margin: 0;
}
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}
footer {
  height: 50px;
  margin-top: -10px;
	background-color: green;
}
/* for star ratings under EXCLUSIVES portion of homepage */
.checked {
  color: orange;
}

/* div .left {
	float: left;
}

div .right {
	float: right;
} */
.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* .card-img-top{
	height: 170px;
	width:320px;
} */
/* nav.navbar.navbar-expand-lg.navbar-light.bg-light.mt-3.mx-auto{
	padding-top: 100px;
	color:red;
} */
nav.navbar.navbar-expand-sm.navbar-dark{
	top:0;
	left:0;
	background-color: #2d4f78;
}
.card-group{
	margin-bottom: 100px;

}
#exclusivesdiv{
	margin-top:80px;
}
#bannerimagelogo{
	margin-top: 30px;
}

.card{
		max-width: 400px;
		height:450px;
		width: 350px;
		border-radius: 5px;
		/* padding-bottom: 10px; */
}
#searchforevent{
	margin-bottom: 1px;
}
/* footer{
	background-color: #2d4f78;
} */
/* .page-footer.font-small.pt-4{
	background-color:blue;
} */
