body {
	font-family: Algerian;
	overflow-x: hidden;
}
html, body {
	height: 100%;
	margin: 0;
}
#bannerimagelogo{
	margin-top: 30px;
}

#bannerLogo{
	box-sizing: border-box;
	max-width: 100%;
	max-height: 350px;
	height: auto;
	min-width: 50%;
	overflow: hidden;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -30px;
}
#bannerShadow{
	position: absolute;
	max-width: 100%;
	
}
#bannerHeader{
	background-image: url("../imgs/Canva-Runners-in-a-Marathon-1024x680.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100%;
	min-width: 100%;
	box-sizing: border-box;
	height: auto;
	padding-bottom: 4rem;
}
nav.navbar.navbar-expand-md.navbar-dark{
	top:0;
	max-width: 100%;
	left:0;
	background-color: #ff2400;
}
.grayBlock{
	background-color: #3E4551;
	box-sizing: border-box;
	margin-top: 5px;
	padding-top: 50px;
	padding-bottom: 100px;
	margin-bottom: 0px;
	width: 100%;
	max-width: 100%;
}
.loc-img{
	width: 370;
}
#formSearchHome{
	position: relative;
	margin: auto;
	/* margin-left: 190px; */
	bottom:-80px;
}
#select-filter{
	width: 30%;
	max-width: 8rem;
	min-width: 85px;
}
#start-search{
	min-width: 10%;
	background-color: #ff2400;
	border-color: #ff2400;
}
#searchBar{
 width: 100%;
 /* background-color: red; */
}
#homeSearch{
	width: 100%;
	min-height: 3rem;
}
#searchForm-col{
	margin-left: 23px;
	min-width: 95%;
}
.card.border-secondary.mb-3{

}
/* #search-key{
	width: 40%;
} */
.btn.btn-secondary{
	border-left: 1px  #51595f;	
}
.btn.btn-secondary:last-child{
	border-right: 1px solid #51595f;	
}
.homeCatButton{
	background-color: #414141 !important;
	color: #FFFEF2 !important;
	border-color: #414141 !important;
	
}

#categoryNav{
	padding-top: 3rem;
	display: flex;
	align-items: center;
	max-width: 85%;
}
#someLogo{
	background-color: transparent !important;
	max-height:400px;
	max-width:640px;
	width: 100%;
	height: auto;
}

#searchbarSubtext{
	font-size: 12px;
}

/* .content {
  min-height: 100%;
} */

/* 
.content-inside {
  /* padding: 20px; *//*
  padding-bottom: 50px;
} */
footer{
	background-color: #3E4551;
	position: relative;
	bottom: 0;
	width: 100%;
}

.sectionTitle{
	font-size: 36px;
	margin-bottom: 0px;

}

/* for star ratings under EXCLUSIVES portion of homepage */
.checked {
  color: orange;
}
.card-body{
	bottom: 4px;
}
.img-thumbnail{
	border:none !important;
}
.card-img-top{
	width: 100%;
	height: auto;
}
.locContainer{
	position: relative;
	text-align: center;
	color: white;
	height: 100%;
	width: 100%;
}
.locationText{
	position: absolute;
	/* size: 20px; */
	bottom: 8px;
	left: 45%;
	transform: translate(-10%,-50%);
}

.locationImg{
	width: 100%;
	height: auto;
	min-width: 100%;
}
/* div .left {
	float: left;
}

div .right {
	float: right;
} */
.row {
    margin-right: -15px;
    margin-left: -15px;
}
h1,h2,h3,h4,h5{
	font-family: 'Spartan MB';
}
.navBarImg{
	max-height: 2.3rem;
	height: auto;
	margin-left: -0.9rem;
	margin-top: 0.5rem;
	margin-bottom: 0.3rem;
}
/* .card-img-top{
	height: 170px;
	width:320px;
} */
/* nav.navbar.navbar-expand-lg.navbar-light.bg-light.mt-3.mx-auto{
	padding-top: 100px;
	color:red;
} */
.card-group{
	margin-bottom: 50px;

}
#exclusivesdiv{
	margin-top:50px;
}

#locationsdiv{
	margin-top:50px;
}

#locationsfirstrow{
	margin-bottom:50px;
}

#categoriesdiv{
	margin-top:50px;
	margin-bottom:100px;
}

#categoriesfirstrow{
	margin-bottom:50px;
}



#archiveCard{
	font-size: 14px;
}

.card{
		max-width: 350px;
		border-radius: 5px;
		/* padding-bottom: 10px; */
}
#searchforevent{
	margin-bottom: 1px;
}
/* footer{
	background-color: #2d4f78;
} */
/* .page-footer.font-small.pt-4{
	background-color:blue;
} */
